* { /* El asterisco es para seleccionar todos los elementos, y se usa para resetear los tamaños por defecto del browser que se este utilizando */
    box-sizing: border-box; /* Define como se calcula altura y anchura de un elemento */
    margin: 0; /* No queremos margenes hacia fuera*/
    padding: 0; /* No queremos margenes hacia dentro*/
}

body{
    background: #ffffff; /* Fondo de la web */
    color: #000000; /* Color del texto */
    background-color: #ffffff;
    font-size: 16px; /* Tamaño del texto */
    font-family: 'Oswald', sans-serif; /* Fuente del texto */
}

/* Menu de navegación en escritorio */
.nav{
    display: flex;
    justify-content: space-around; /* Hace que el texto ocupe todo el espacio horizontal */
    align-items: center;
    margin: auto;
    min-height: 8vh;
    background-color: #ffffff;
    font-family: 'Oswald', sans-serif; /* Fuente del texto */
}

.nav-logo{
    display: flex;
    text-decoration: none;
    font-weight: 16px;
    justify-content: space-between;
    width: 15%;
}

.nav-logo h1{
    text-align: center;
}
.nav-img{
    width: 60px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #000000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


