* { /* El asterisco es para seleccionar todos los elementos, y se usa para resetear los tama침os por defecto del browser que se este utilizando */
  box-sizing: border-box; /* Define como se calcula altura y anchura de un elemento */
  margin: 0; /* No queremos margenes hacia fuera*/
  padding: 0; /* No queremos margenes hacia dentro*/
}

body{
  background: #ffffff; /* Fondo de la web */
  color: #000000; /* Color del texto */

  /* TODO: Borrar esto, es el fondo temporal por que no me gusta ver el fondo blanco. */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.15'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  font-size: 16px; /* Tama침o del texto */
  font-family: 'Oswald', sans-serif; /* Fuente del texto */
}

a{
  color: #000000; /* Color de los links */
  text-decoration: none; /* Define si un texto tiene algun tipo de decoracion */
}

ul{
  list-style: none; /* Define el estilo de las listas */
}

.container{
  width: 90%; /* En este caso el contenedor utiliza 90% de la pantalla */
  margin: auto; /* Margenes automaticos */
}

/* Navigation */
.nav-main{
  font-size: 17px;
  display: flex; /* Pone "nav-main" seguido de los "elementos que haya alrededor" */
  justify-content: space-between; /* Hace que el texto ocupe todo el espacio horizontal */
  align-items: center; /* Alinea los elementos al centro */
  height: 60px; /* Define la altura */
  padding: 20px 0; /* padding: x y */
}

.nav-logo{
  width: 50px;
}

/* Nav Left */
.nav-main ul{
  display: flex; /* Pone cada item de la lista uno junto al otro */
}

.nav-main ul li{
  padding: 10px; /* A침ade un padding de 10px a cada item de la lista */
}

.nav-main ul li a{
  padding: 6px;
}

.nav-main ul li a:hover{ /* hover es para cuando el usuario pone el rat칩n encima de un elemento */
  border-bottom: 2px solid #000000;
}

.nav-main ul.nav-menu{
  flex: 1; /* Esto pega los items al logo de acm :D */
  margin-left: 20px; /* Esto hace que los itmes tengan 20px de espacio con el logo */
}

/* Pantalla Principal (la de bienvenida) */  
.showcase{
  width: 100%;
  height: 550px;
}


