* { /* El asterisco es para seleccionar todos los elementos, y se usa para resetear los tamaños por defecto del browser que se este utilizando */
  box-sizing: border-box; /* Define como se calcula altura y anchura de un elemento */
  margin: 0; /* No queremos margenes hacia fuera*/
  padding: 0; /* No queremos margenes hacia dentro*/
}

body{
  background: #ffffff; /* Fondo de la web */
  color: #000000; /* Color del texto */

  /* TODO: Borrar esto, es el fondo temporal por que no me gusta ver el fondo blanco. */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.15'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  font-size: 16px; /* Tamaño del texto */
  font-family: 'Oswald', sans-serif; /* Fuente del texto */
}

a{
  color: #000000; /* Color de los links */
  text-decoration: none; /* Define si un texto tiene algun tipo de decoracion */
}

ul{
  list-style: none; /* Define el estilo de las listas */
}

.container{
  width: 90%; /* En este caso el contenedor utiliza 90% de la pantalla */
  margin: auto; /* Margenes automaticos */
}

/* Navigation */
.nav-main{
  font-size: 17px;
  display: flex; /* Pone "nav-main" seguido de los "elementos que haya alrededor" */
  justify-content: space-between; /* Hace que el texto ocupe todo el espacio horizontal */
  align-items: center; /* Alinea los elementos al centro */
  height: 60px; /* Define la altura */
  padding: 20px 0; /* padding: x y */
}

.nav-logo{
  width: 50px;
}

/* Nav Left */
.nav-main ul{
  display: flex; /* Pone cada item de la lista uno junto al otro */
}

.nav-main ul li{
  padding: 10px; /* Añade un padding de 10px a cada item de la lista */
}

.nav-main ul li a{
  padding: 6px;
}

.nav-main ul li a:hover{ /* hover es para cuando el usuario pone el ratón encima de un elemento */
  border-bottom: 2px solid #000000;
}

.nav-main ul.nav-menu{
  flex: 1; /* Esto pega los items al logo de acm :D */
  margin-left: 20px; /* Esto hace que los itmes tengan 20px de espacio con el logo */
}

/* Pantalla Principal (la de bienvenida) */  
hr{
  margin: 10px 0px;
}

.showcase{
  width: 100%;
  height: 350px;
  padding-bottom: 50px; /* Para dejar espacio por debajo para otros elementos */
  display: flex;
  flex-direction: column; /* Elementos en columna pegado a la izq */
  align-items: center;
  background: url("../img/showcase.jpg") no-repeat center center/cover;

}

.btn{
  cursor: pointer; /* Esto hace que el cursor cambie cuando esta ecima del boton */
  display: inline-block; 
  border: 0;
  font-weigth: bold;
  padding: 10px 20px;
  background: #72f9ff;
  color: black;
  font-size: 15px;
  border: 1px solid #ffffff;
  margin: 10px;
}

.btn:hover{
  opacity: .7;
}

.showcase h2,
.showcase p{
  margin-bottom: 10px;
}

/* Redes Sociales */
.socialMedia{
  margin: 50px;
}

.socialMedia p{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.links{
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a{
  margin: 0 20px;
}

.links a i{
  font-size: 3rend;
}

