
<form>
  <fieldset>
    <label for="search">¿Qué quieres buscar?</label>
    <div class="user-search-input">
      <input type="text" placeholder="Titulo, Autor, ISBN" id="search">
    </div>
    <div class="search-button">
      <input class="button-primary" type="submit" value="Send">
    </div>
    <div class="clearfix"></div>
  </fieldset>
</form>